<div class="product-page" *ngIf="product">

  <div class="product-container">

    <!-- LEFT -->
    <div class="product-gallery">

      <img
        class="main-image"
        [src]="'/assets/' + (selectedImage || (product.images && product.images[0]))">
      <div class="thumbnail-list">

        <img
          *ngFor="let img of product.images"
          [src]="'/assets/' + img"
          (click)="changeImage(img)"
        >

      </div>

    </div>


    <!-- RIGHT -->
    <div class="product-info">

      <h1 class="product-title">
        {{product.product_name}}
      </h1>

      <p class="product-code">
        Mã SP: {{product._id}}
      </p>

      <p class="product-price">
        {{product.unit_price | number}}₫
      </p>

      <!-- Color 
      <div class="product-option">
        <label>Màu sắc:</label>
        <button class="color active">Đỏ Mận</button>
      </div>-->

      <!-- Size -->
      <div class="product-option" *ngIf="product.sizes?.length">

        <div class="size-header">

  <label>Kích thước:</label>

  <div class="size-links">

    <button class="link-btn" (click)="openSizeGuide()">
      Hướng dẫn chọn size
    </button>

  </div>

</div>

        <div class="size-options">
          <button *ngFor="let s of product.sizes">
            {{s.size}}
          </button>
        </div>

      </div>

      <!-- Quantity -->
      <div class="product-option">

        <label>Số lượng</label>

        <div class="quantity-box">

        <button class="qty-btn" (click)="decrease()">−</button>

        <input
            class="qty-input"
            type="number"
            [(ngModel)]="quantity"
            min="1"
        >

        <button class="qty-btn" (click)="increase()">+</button>

        </div>

      </div>

      <!-- Buttons -->
      <div class="product-actions">

  <button class="btn-cart" (click)="addToCart()">Thêm vào giỏ hàng</button>

  <button class="btn-buy">
    Mua ngay
  </button>

</div>

<div class="product-support">

  <div class="support-item">
    <span class="icon">📞</span>
    <a href="tel:0962731333" class="support-link">
      0962 731 333
    </a>
  </div>

  <div class="support-item right">
    <a href="tel:0962731333" class="support-link">
      Hỗ trợ mua hàng 24/7
    </a>
  </div>

</div>
<div class="product-support">

  <div class="support-item">
    <span class="icon">📦</span>
    <a routerLink="/policy" class="support-link">
      Chính sách đổi hàng
    </a>
  </div>

  <div class="support-item right">
    <a routerLink="/policy" class="support-link">
      Tìm hiểu thêm
    </a>
  </div>

</div>


  <div class="product-description">

    <h2>Thông tin sản phẩm</h2>

    <p>
      {{product.product_detail}}
    </p>

  </div>
  <div class="size-popup" *ngIf="showSizeGuide">

  <div class="size-popup-content">

    <button class="close-btn" (click)="closeSizeGuide()">✕</button>

    <img src="/assets/size-guide.jpg" alt="Size Guide">

  </div>

</div>
</div>

<div class="related-products">

  <h2>Sản phẩm liên quan</h2>

  <div class="product-grid">

    <div class="product-card"
         *ngFor="let item of relatedProducts"
         [routerLink]="['/product', item._id]">

      <div class="image-wrapper">
         <img class="img1" [src]="'/assets/' + item.images?.[0]">

        <img class="img2"
          *ngIf="item.images && item.images.length > 1"
          [src]="'/assets/' + item.images[1]">
      </div>

      <h3>{{item.product_name}}</h3>
      <p>{{item.unit_price | number}}₫</p>

    </div>

  </div>

</div>


<div class="viewed-products" *ngIf="viewedProducts.length > 0">

  <h2>Sản phẩm đã xem</h2>

  <div class="product-grid">

    <div class="product-card"
         *ngFor="let item of viewedProducts"
         [routerLink]="['/product', item._id]">

      <div class="image-wrapper">

        <img class="img1"
           [src]="'/assets/' + item.images?.[0]">

        <img class="img2"
             *ngIf="item.images && item.images.length > 1"
           [src]="'/assets/' + item.images[1]">

      </div>

      <h3>{{item.product_name}}</h3>
      <p>{{item.unit_price | number}}₫</p>

    </div>

  </div>

</div>