<div class="product-detail-modern" *ngIf="product">
  <div class="product-detail-main twocol">
    <div class="gallery-box gallery-left">
      <div class="gallery-main-img-wrapper big-gallery square-img">
        <img class="gallery-main-img" [src]="getImageSrc(selectedImage || product.images?.[0])" alt="Ảnh sản phẩm">
        <div *ngIf="product?.stocked_quantity === 0" class="gallery-overlay">
          Hết Hàng
        </div>
      </div>
      <div class="gallery-thumbs thumbs-large">
        <div *ngFor="let img of product.images; let i = index"
             class="gallery-thumb-wrapper"
             [class.selected]="selectedImage === img || (!selectedImage && i === 0)"
             (click)="selectedImage = img">
          <img class="gallery-thumb" [src]="getImageSrc(img)" alt="Ảnh phụ">
        </div>
      </div>
    </div>
    <div class="product-detail-info info-right styled-info">
      <h1 class="product-title">{{ product?.product_name }}</h1>
      <div class="product-code">Mã SP: {{ product?._id }}</div>
      <div class="product-price">{{ product?.unit_price | number }}₫</div>
      <div class="product-option"><b>Màu sắc:</b> {{ product?.color }}</div>
      <div class="product-option">
        <b>Kích thước:</b>
        <div class="size-options size-square">
          <button *ngFor="let size of product?.sizes"
                  [class.selected]="selectedSize === size.size"
                  [disabled]="size.stock === 0"
                  (click)="selectSize(size.size)">
            {{ size.size }}
          </button>
        </div>
      </div>
      <div class="qty-row">
        <span class="qty-label">Số lượng</span>
        <div class="qty-box">
          <button class="qty-btn" (click)="decrease()">-</button>
          <span class="qty-value">{{ quantity }}</span>
          <button class="qty-btn" (click)="increase()">+</button>
        </div>
      </div>
      <div class="product-action-row">
        <button class="btn-cart" (click)="addToCart()">Thêm vào giỏ</button>
        <button class="btn-buy" (click)="buyNow()">Mua ngay</button>
      </div>
      <div class="product-info-section styled-desc">
        <h2>Thông tin sản phẩm</h2>
        <div *ngIf="product?.description; else noDesc">{{ product?.description }}</div>
        <ng-template #noDesc><span style="color:#aaa">Chưa có mô tả.</span></ng-template>
        <div class="product-extra-info">
          <div *ngIf="product?.material"><b>Chất liệu:</b> {{ product?.material }}</div>
          <div *ngIf="product?.origin"><b>Xuất xứ:</b> {{ product?.origin }}</div>
        </div>
        <div class="product-laundry-note">
          <h3>Lưu ý giặt ủi</h3>
          <ul>
            <li>Không giặt với nước nóng</li>
            <li>Không dùng chất tẩy mạnh</li>
            <li>Ủi ở nhiệt độ thấp</li>
          </ul>
        </div>
      </div>
      <div class="product-support-row styled-support">
        <div class="support-item">
          <span class="fa fa-phone"></span>
          <span>0962 731 333</span>
        </div>
        <span class="support-sep">|</span>
        <span class="support-text">Hỗ trợ mua hàng 24/7</span>
      </div>
      <div class="product-support-row styled-support">
        <div class="support-item">
          <span class="fa fa-refresh"></span>
          <span>Chính sách đổi hàng</span>
        </div>
        <span class="support-sep">|</span>
        <a class="support-link" href="#">Tìm hiểu thêm</a>
      </div>
    </div>
      <h1 class="product-title">{{ product.product_name }}</h1>
      <div class="product-code">Mã sản phẩm: {{ product._id }}</div>
      <div class="product-price">{{ product.unit_price | number }}₫</div>
      <div class="product-option"><b>Màu sắc:</b> {{ product.color }}</div>
      <div class="product-option">
        <b>Kích cỡ:</b>
        <div class="size-options">
          <button *ngFor="let size of product.sizes" [class.selected]="selectedSize === size.size" (click)="selectSize(size.size)">{{ size.size }} <span *ngIf="size.stock !== undefined">({{ size.stock }})</span></button>
        </div>
      </div>
      <div class="product-action-row">
        <button class="btn-cart" (click)="addToCart()">Thêm vào giỏ hàng</button>
        <button class="btn-buy" (click)="buyNow()">Mua ngay</button>
        <button class="btn-wishlist" (click)="toggleWishlist()">
          <span [ngClass]="{'fa': true, 'fa-heart': isWishlisted, 'fa-heart-o': !isWishlisted}"></span>
        </button>
      </div>
      <div class="product-support-row">
        <div class="support-item">
          <span class="fa fa-phone"></span>
          <span>Hotline: <a class="support-link" href="tel:0123456789">0123 456 789</a></span>
        </div>
        <div class="support-item">
          <span class="fa fa-shield"></span>
          <span>Chính sách: <a class="support-link" href="#">Xem chi tiết</a></span>
        </div>
      </div>
      <div class="product-info-section">
        <h2>Mô tả sản phẩm</h2>
        <div *ngIf="product?.description; else noDesc">{{ product?.description }}</div>
        <ng-template #noDesc><span style="color:#aaa">Chưa có mô tả.</span></ng-template>
        <div class="product-extra-info">
          <div *ngIf="product?.material"><b>Chất liệu:</b> {{ product?.material }}</div>
          <div *ngIf="product?.origin"><b>Xuất xứ:</b> {{ product?.origin }}</div>
        </div>
        <div class="product-laundry-note">
          <h3>Lưu ý giặt ủi</h3>
          <ul>
            <li>Không giặt với nước nóng</li>
            <li>Không dùng chất tẩy mạnh</li>
            <li>Ủi ở nhiệt độ thấp</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="related-products">
    <h2>Sản phẩm liên quan</h2>
    <div class="product-grid">
      <div class="product-card" *ngFor="let item of relatedProducts" [routerLink]="['/product', item._id]">
        <div class="image-wrapper">
          <img class="img1" [src]="getImageSrc(item.images?.[0])">
          <img class="img2" *ngIf="item.images && item.images.length > 1" [src]="getImageSrc(item.images[1])">
        </div>
        <h3>{{item.product_name}}</h3>
        <p>{{item.unit_price | number}}₫</p>
      </div>
    </div>
  </div>
  <div class="viewed-products" *ngIf="viewedProducts.length > 0">
    <h2>Sản phẩm đã xem</h2>
    <div class="product-grid">
      <div class="product-card" *ngFor="let item of viewedProducts" [routerLink]="['/product', item._id]">
        <div class="image-wrapper">
          <img class="img1" [src]="getImageSrc(item.images?.[0])">
          <img class="img2" *ngIf="item.images && item.images.length > 1" [src]="getImageSrc(item.images[1])">
        </div>
        <h3>{{item.product_name}}</h3>
        <p>{{item.unit_price | number}}₫</p>
      </div>
    </div>
  </div>


      <div class="size-popup" *ngIf="showSizeGuide">
        <div class="size-popup-content">
          <button class="close-btn" (click)="closeSizeGuide()">✕</button>
          <img src="/assets/size-guide.jpg" alt="Size Guide">
        </div>
      </div>

<div class="related-products">

  <h2>Sản phẩm liên quan</h2>

  <div class="product-grid">

    <div class="product-card"
         *ngFor="let item of relatedProducts"
         [routerLink]="['/product', item._id]">

      <div class="image-wrapper">
        <img class="img1" [src]="getImageSrc(item.images?.[0])">
        <img class="img2"
          *ngIf="item.images && item.images.length > 1"
         [src]="getImageSrc(item.images[1])">
      </div>

      <h3>{{item.product_name}}</h3>
      <p>{{item.unit_price | number}}₫</p>

    </div>

  </div>

</div>


<div class="viewed-products" *ngIf="viewedProducts.length > 0">

  <h2>Sản phẩm đã xem</h2>

  <div class="product-grid">

    <div class="product-card"
         *ngFor="let item of viewedProducts"
         [routerLink]="['/product', item._id]">

      <div class="image-wrapper">

        <img class="img1"
           [src]="getImageSrc(item.images?.[0])">

        <img class="img2"
             *ngIf="item.images && item.images.length > 1"
           [src]="getImageSrc(item.images[1])">

      </div>

      <h3>{{item.product_name}}</h3>
      <p>{{item.unit_price | number}}₫</p>

    </div>

  </div>

</div>