.dashboard{
    padding:30px;
    background:#fdf8f6;
    font-family:'Montserrat', sans-serif;
}

/* header */

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.dashboard-header h1{
    color:#61202c;
    font-family:'Montserrat', sans-serif;
}

/* buttons */

.actions{
    display:flex;
    gap:10px;
}

.btn-primary{
    background:#8b2f3f;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    transition:all 0.2s;
}

.btn-primary:hover{
    background:#61202c;
}

.btn-outline{
    border:2px solid #8b2f3f;
    color:#8b2f3f;
    background:transparent;
    padding:10px 18px;
    border-radius:8px;
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    transition:all 0.2s;
}

.btn-outline:hover{
    background:#8b2f3f;
    color:#fff;
}

/* grid */

.dashboard-grid{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
}

/* cards */

.card{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.card h3{
    margin-bottom:15px;
    color:#61202c;
    font-family:'Montserrat', sans-serif;
}

/* activity */

.activity-item{
    display:flex;
    justify-content:space-between;
    padding:12px;
    background:#f7f7f7;
    border-radius:8px;
    margin-bottom:10px;
}

.activity-left{
    color:#61202c;
}

.admin-panels{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* card */

.panel{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

/* header */

.panel-header{
    background:#8b2f3f;
    color:white;
    padding:12px 18px;
    font-weight:600;
    font-family:'Montserrat', sans-serif;
}

/* item */

.panel-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 18px;
    border-bottom:1px solid #eee;
    color:#61202c;
}

.panel-item:last-child{
    border-bottom:none;
}

.panel-item:hover{
    background:#f6f6f6;
}

/* edit button */

.edit-btn{
    background:transparent;
    border:none;
    cursor:pointer;
    font-size:16px;
    color:#8b2f3f;
    transition:color 0.2s;
}

.edit-btn:hover{
    color:#61202c;
}
